html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
html {
  line-height: 1
}
ol, ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}
q, blockquote {
  quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none
}
a img {
  border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}
input[type='button']:not([disabled]), input[type='submit']:not([disabled]), input[type='reset']:not([disabled]), button:not([disabled]) {
  cursor: pointer
}
[hidden] {
  display: none !important
}
html {
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 16px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", sans-serif;
  line-height: 1.875em
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center
}
em, strong {
  font-weight: bold
}
.small_txt {
  font-size: 12px
}
.large_txt {
  font-size: 20px
}
p {
  margin-bottom: 1.5em
}
a {
  -webkit-transition: all .1s linear 0s;
  transition: all .1s linear 0s
}
a:link, a:visited {
  color: #6a3906;
  text-decoration: underline
}
a:hover, a:active {
  color: #fbb03b
}
a img {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: opacity .1s linear 0s;
  transition: opacity .1s linear 0s
}
a img:hover {
  opacity: .7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
}
.another_link_area {
  margin: 90px auto;
  font-size: 20px;
  font-weight: bold
}
a[href^='tel:'] {
  cursor: default
}
a[href^='tel:']:link, a[href^='tel:']:visited, a[href^='tel:']:hover, a[href^='tel:']:active {
  color: inherit;
  text-decoration: none
}
i.fa {
  margin-right: 5px;
  font-size: 1.1em
}
.tel_link {
  display: none
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%
}
header {
  z-index: 9999;
  width: 100%;
  height: 63px;
  background-color: #fff;
  text-align: center
}
.home header, header.fixed {
  border-bottom: 1px solid #ccc
}
.header_wrap {
  display: table;
  margin: 0 auto;
  width: auto
}
.header_logo {
  display: table-cell;
  padding-right: 22px;
  height: 31px;
  vertical-align: middle;
  text-align: right;
  line-height: 1em
}
.header_logo img {
  height: 100%;
  height: auto
}
.gnavi {
  font-size: 0;
  line-height: 1em
}
.gnavi li {
  display: inline-block;
  font-size: 14px;
  line-height: 1em
}
.gnavi li:first-child {
  border-left: none
}
.gnavi li a {
  display: block;
  padding: 0 22px;
  line-height: 63px
}
.gnavi li a:link, .gnavi li a:visited {
  color: #000;
  text-decoration: none
}
.gnavi li a:hover, .gnavi li a:active {
  background-color: #423021;
  color: #fff;
  text-decoration: none
}
.gnavi li.current-menu-item a {
  background-color: #423021;
  color: #fff
}
.content_wrap {
  position: relative
}
.main_content {
  margin: 0 auto;
  padding-top: 80px;
  min-height: 300px;
  width: 100%;
  text-align: center
}
footer {
  background: url(img/common/bg-footer.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 45px 0 10px;
  width: 100%;
  text-align: center;
  color: #fff
}
.footer-logo {
  margin-bottom: 20px;
  width: 185px;
  height: auto
}
.footer-info {
  margin-bottom: 25px
}
.footer-add {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 13px
}
.footer-tel {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 15px
}
.footer-tel-num {
  font-size: 32px;
  letter-spacing: 1px
}
.btn-instagram {
  display: inline-block;
  margin-left: 25px;
  width: 58px;
  vertical-align: middle;
}
.btn-instagram .icon {
  width: 100%;
  vertical-align: bottom;
}
.menu-fnavi-container {
  margin: 20px 0 10px
}
.menu-fnavi-container ul {
  margin: 0 auto;
  text-align: center
}
.menu-fnavi-container ul li {
  display: inline-block;
  padding: 0 13px;
  font-size: 14px;
  line-height: 1.2em
}
.menu-fnavi-container ul li a:link, .menu-fnavi-container ul li a:visited {
  color: #fff;
  text-decoration: none
}
.menu-fnavi-container ul li a:hover, .menu-fnavi-container ul li a:active {
  color: #F8AF37;
  text-decoration: underline
}
.footer-copyright {
  font-size: 10px
}
.title_page {
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.title_middle_wrap {
  margin: 110px 0 45px;
  width: auto
}
.title_middle_wrap:first-child {
  margin-top: 0
}
.title_middle {
  position: relative;
  display: inline;
  padding-bottom: 14px;
  color: #333;
  font-weight: bold;
  font-size: 36px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 62px
}
.title_middle:before, .title_middle:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #d9e021;
  content: ''
}
.title_middle:after {
  width: 50%;
  background-color: #F8AF37
}
.title_small {
  margin: 20px 0;
  font-weight: bold;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 22px
}
.title_small:before, .title_small:after {
  content: "-";
  margin: 0 8px
}
.btn-base {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 22px 40px 22px 30px;
  min-width: 290px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 16px
}
.btn-base:after {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '\f105';
  font-size: 22px;
  font-family: "FontAwesome"
}
.btn-white:link, .btn-white:visited {
  border: solid 2px #000;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .05s linear 0s;
  transition: all .05s linear 0s
}
.btn-white:hover, .btn-white:active {
  border: solid 2px #423021;
  background-color: #423021;
  color: #fff
}
.btn-white-noline:link, .btn-white-noline:visited {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .05s linear 0s;
  transition: all .05s linear 0s
}
.btn-white-noline:hover, .btn-white-noline:active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000
}
.btn-green:link, .btn-green:visited {
  background-color: #d9e021;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .05s linear 0s;
  transition: all .05s linear 0s
}
.btn-green:hover, .btn-green:active {
  background-color: rgba(217, 224, 33, 0.7);
  color: #000
}
.box_border1 {
  padding: 16px 20px;
  width: auto;
  border: 1px solid #999;
  text-align: left
}
.page_lead {
  margin-bottom: 55px;
  text-align: center;
  font-size: 20px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 34px
}
.float_box {
  width: 100%;
  margin: 40px 0
}
.float_box_left {
  text-align: left
}
.float_box_right {
  text-align: right
}
.floatimg {
  display: inline-block;
  width: 40%;
  vertical-align: top
}
.floatimg_img {
  width: 100%;
  height: auto
}
.float_txt {
  display: inline-block;
  width: calc(59% - 25px);
  vertical-align: top
}
.float_box_left .float_txt {
  padding-left: 25px
}
.float_box_left .float_img {
  float: left
}
.float_box_right .float_txt {
  padding-right: 25px
}
.float_box_right .float_txt {
  float: left
}
.float_txt_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px
}
.float_txt_txt {
  font-size: 16px
}
li {
  line-height: 1.5
}
.inline_list1 {
  margin-bottom: 8px;
  list-style: none outside;
  text-align: left
}
.inline_list1 li {
  display: inline-block;
  margin-right: 10px
}
.inline_list1 li:before {
  margin: 2px;
  color: #F8AF37;
  content: '■'
}
.num_list {
  counter-reset: numlist
}
.num_list_title {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px
}
.num_list_title:before {
  content: counter(numlist, decimal) ".";
  counter-increment: numlist;
  margin-right: 0.5em
}
.num_list_stop_count {
  margin-top: 40px
}
.num_list_stop_count:before {
  content: "";
  margin-right: 0
}
.num_list_txt {
  font-size: 14px;
  padding: 10px 0 15px
}
table {
  width: 100%
}
.line_table tr {
  border-bottom: 1px solid #ddd
}
.line_table th, .line_table td {
  padding: 5px 2px
}
.line_table th {
  width: 140px;
  padding-right: 15px
}
.bg_table tr {
  background-color: #f5f5f5
}
.bg_table tr:nth-child(even) {
  background-color: #fff
}
.bg_table th, .bg_table td {
  padding: 5px 15px
}
.bg_table th {
  width: 125px;
  padding-right: 15px
}
.bg_table td {
  padding-left: 0
}
.bread_nav_wrap {
  margin: 130px auto 20px;
  width: 980px;
  text-align: left;
  font-size: 10px;
  line-height: 15px
}
.bread_nav {
  margin: 0 auto
}
.bread_nav .sep {
  margin: 0 8px
}
.bread_nav .breadcrumb_last {
  color: #999
}
.bread_nav a:link, .bread_nav a:visited {
  color: #000;
  text-decoration: underline
}
.bread_nav a:hover, .bread_nav a:active {
  color: #999
}
.anchor_link_area {
  margin: 90px auto;
  font-size: 20px;
  font-weight: bold
}
.btn_page_top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: block;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  cursor: pointer
}
.btn_page_top:hover {
  opacity: 1.0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.single .content_wrap_700 {
  text-align: left
}
.single .title_middle_wrap {
  margin-bottom: 8px !important
}
.single .title_middle {
  display: block;
  margin-bottom: 8px !important;
  padding-bottom: 5px
}
.date {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1
}
.entry-slider-wrap {
  margin: 0 auto;
  padding: 65px 0 85px;
  width: 100%;
  background-color: #423021
}
.entry-slider {
  margin: 0 auto;
  width: 936px
}
.entry-slider-box {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 13px;
  padding: 10px;
  max-height: 160px;
  background-color: #fff;
  text-align: left
}
.entry-slider-box:link, .entry-slider-box:visited {
  color: #333
}
.entry-slider-box:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3)
}
.entry-slider-img {
  float: left;
  width: calc(40% - 12px);
  height: 100%;
  vertical-align: top
}
.entry-slider-img img {
  width: 100%;
  height: auto
}
.entry-slider-img img:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.entry-slider-txt-box {
  float: right;
  width: 60%;
  vertical-align: top;
  font-size: 13px
}
.entry-slider-date {
  margin-bottom: 3px;
  font-family: Roboto
}
.entry-slider-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px
}
.entry-slider-txt {
  color: #666;
  line-height: 1.4
}
.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 9999;
  padding: 0;
  width: auto;
  height: auto;
  border: none;
  background: none;
  font-size: 0;
  line-height: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.slick-prev:after, .slick-next:after {
  color: #fff;
  font-size: 42px;
  font-family: 'FontAwesome';
  line-height: 1
}
.slick-prev:hover, .slick-next:hover {
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
}
.slick-prev {
  left: -55px
}
.slick-prev:after {
  content: '\f104'
}
.slick-next {
  right: -55px
}
.slick-next:after {
  content: '\f105'
}
.entry_header {
  position: relative;
  margin: 0 auto 23px;
  width: 910px;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  line-height: 1
}
.show_all_entries {
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 13px
}
.show_all_entries:link, .show_all_entries:visited {
  color: #fff;
  text-decoration: none
}
.show_all_entries:hover, .show_all_entries:active {
  color: #f8af37;
  text-decoration: none
}
.show_all_entries i {
  margin: 0 0 0 8px
}
.entry_list_wrap {
  margin: 0 auto 80px;
  padding: 65px 0 39px;
  width: 100%;
  text-align: left;
  background-color: #423021
}
.entry_list_wrap+.wp-pagenavi {
  margin: -40px 0 80px
}
.entry_list {
  margin: 0 auto;
  width: 910px;
  font-size: 0
}
.entry_list_li {
  display: inline-block;
  margin: 0 13px 26px;
  width: 422px
}
.entry_list_box {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 10px;
  max-height: 160px;
  background-color: #fff;
  text-align: left
}
.entry_list_box:link, .entry_list_box:visited {
  color: #333
}
.entry_list_box:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3)
}
.entry_list_img {
  float: left;
  width: calc(40% - 12px);
  height: 100%;
  overflow: hidden;
}
.entry_list_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center top;
}
.entry_list_img img:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.entry_list_txt_box {
  float: right;
  width: 60%;
  vertical-align: top;
  font-size: 13px
}
.entry_list_date {
  margin-bottom: 3px;
  font-family: Roboto
}
.entry_list_title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 15px
}
.entry_list_txt {
  color: #666;
  line-height: 1.4
}
/* 20220121 home のみ変更 */
.home .entry_list {
  width: 930px;
}
.home .entry_list_li {
  width: 439px
}


.wp-pagenavi {
  margin: 0 auto 40px;
  padding: 0;
  text-align: center
}
.wp-pagenavi span, .wp-pagenavi a {
  margin: 0 4px !important;
  padding: 6px 10px !important;
  line-height: 1em;
  display: inline-block
}
.wp-pagenavi a:link, .wp-pagenavi a:visited {
  background-color: #fff;
  color: #423021;
  text-decoration: none
}
.wp-pagenavi a:hover, .wp-pagenavi a:active {
  background-color: #423021;
  color: #fff;
  text-decoration: none
}
.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink {
  padding: 6px 8px !important;
  border-color: #fff !important
}
.wp-pagenavi span.current {
  background-color: #423021;
  color: #fff;
  font-weight: normal !important
}
.pagenation {
  position: relative;
  display: table;
  margin: 80px auto 30px;
  padding-top: 30px;
  width: 100%;
  border-top: 1px solid #ddd
}
.pagenation div {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px
}
.pagenation a {
  line-height: 30px
}
.pagenation a:link, .pagenation a:visited {
  text-decoration: none
}
.pagenation a:hover, .pagenation a:active {
  text-decoration: none
}
.pagenation i {
  display: inline;
  font-size: 15px;
  line-height: 30px
}
.pagenation .button {
  width: 24%;
  text-align: center
}
.pagenation .button a {
  display: block;
  padding: 5px 0
}
.pagenation .button a:link, .pagenation .button a:visited {
  background-color: #423021;
  color: #fff
}
.pagenation .button a:hover, .pagenation .button a:active {
  background-color: #F8AF37;
  color: #fff
}
.pagenation .prev, .pagenation .next {
  width: 38%
}
.pagenation .prev {
  text-align: left
}
.pagenation .next {
  text-align: right
}
.pagenation .next i {
  margin: 0 0 0 5px
}
.mce h1, .mce h2, .mce h3, .mce h4, .mce h5, .mce h6 {
  margin-bottom: 1.5em;
  color: #000;
  font-weight: bold;
  line-height: 1.4em
}
.mce h1 {
  font-size: 200%
}
.mce h2 {
  font-size: 150%
}
.mce h3 {
  font-size: 130%
}
.mce h4 {
  font-size: 115%
}
.mce h5 {
  font-size: 115%
}
.mce h6 {
  font-size: 100%
}
.mce p, .mce div {
  margin: 0 0 2em
}
.mce p:last-child, .mce div:last-child {
  margin: 0
}
.mce img {
  margin: 1.5em 0;
  vertical-align: top
}
.mce .alignnone {
  display: block;
  float: none
}
.mce .alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0
}
.mce .aligncenter {
  display: block;
  float: none;
  margin: 1.5em auto;
  text-align: center
}
.mce .alignright {
  float: right;
  margin: 0 0 1.5em 1.5em
}
.mce .alignleft:before, .mce .alignleft:after, .mce .alignrightalignright:before, .mce .alignright:after {
  display: table;
  content: ' '
}
.mce .alignleft:after, .mce .alignrightalignright:after {
  clear: both
}
.mce .alignleft, .mce .alignright {
  *zoom: 1
}
.mce ul, .mce ol {
  margin: 1.5em 0;
  padding: 0;
  padding-left: 1.6em
}
.mce ul {
  list-style: disc outside
}
.mce ol {
  list-style: decimal outside
}
.mce ul li, .mce ol li {
  margin-bottom: 1em
}
.mce dl {
  margin: 1.5em 0
}
.mce dl dt {
  margin-bottom: .5em
}
.mce dl dd {
  margin-bottom: .5em
}
.mce ul ul, .mce ul ol, .mce ul dl, .mce ol ol, .mce ol ul, .mce ol dl, .mce dl dl, .mce dl ul, .mce dl ol {
  margin: 1em 1.5em
}
.mce table {
  margin: 1.5em 0;
  width: 100%
}
.mce th, .mce td {
  padding: 10px 14px;
  border: 1px solid #b3b3b3;
  background: #f6f6f6;
  line-height: 1.3em
}
.mce td {
  background: #fdfdfd
}
.mce table p, .mce table ul, .mce table ol {
  margin-bottom: 0
}
.mce iframe {
  margin: 1.5em auto;
  max-width: 100%
}
.mce strong {
  font-weight: bold
}
.mce em {
  font-weight: normal;
  font-style: italic
}
.mce pre {
  margin: 1em 0;
  padding: 1em 1.5em;
  background: #ededed;
  white-space: pre-wrap
}
.mce hr {
  border: 1px solid #ccc
}
.mce blockquote {
  padding: 1em 1.5em;
  color: #555;
  font-style: italic
}
.mce blockquote cite:before {
  margin: 0 1em;
  color: #999;
  content: '─'
}

.feed-list-wrap {
  padding: 65px 0;
  background-color: #e8e3df
}
.feed-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 910px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.feed-list-block {
  width: 21%;
  text-align: center
}
.feed-list-item {
  position: relative;
  display: block;
  padding: 8px 8px 0;
  height: 100%
}
.feed-list-item:link, .feed-list-item:visited {
  background-color: #fff;
  color: #333;
  text-decoration: none
}
.feed-list-item:hover, .feed-list-item:active {
  color: #333;
  opacity: .6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"
}
.feed-list-img-wrap {
  overflow: hidden;
  margin-bottom: 6px;
  width: 100%;
  height: 112px
}
.feed-list-img {
  width: 100%;
  height: auto
}
.feed-list-img:hover, .feed-list-img:active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.feed-list-noimg {
  background-color: #423021;
  vertical-align: middle;
  text-align: center
}
.feed-list-date {
  margin-bottom: 2px;
  font-size: 12px;
  font-family: "Roboto", sans-serif
}
.feed-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7
}
.cf:before, .cf:after {
  display: table;
  content: ' '
}
.cf:after {
  clear: both
}
.cf {
  *zoom: 1
}
.cboxTitle {
  display: none !important
}
.mainvisual_wrap {
  position: relative;
  width: 100%;
  height: 250px;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat
}
.mainvisual_wrap {
  background-image: url("img/common/mv.jpg")
}
.page-creator .mainvisual_wrap {
  background-image: url("img/creator/mv.jpg")
}
.page-modelhouse .mainvisual_wrap {
  background-image: url("img/modelhouse/mv.jpg")
}
.page-aboutkizukurinoie .mainvisual_wrap, .page-wb .mainvisual_wrap {
  background-image: url("img/aboutkizukurinoie/mv.jpg")
}
.page-contact .mainvisual_wrap, .page-conform .mainvisual_wrap {
  background-image: url("img/contact/mv.jpg")
}
.post-type-archive-works .mainvisual_wrap {
  background-image: url("img/works/mv.jpg")
}
.content_wrap_800 {
  margin: 0 auto 160px;
  width: 800px
}
.content_wrap_700 {
  margin: 0 auto 160px;
  width: 700px
}
.content_wrap_550 {
  margin: 0 auto 160px;
  width: 550px
}
.thumb_slider_wrap {
  margin: 0 auto;
  width: 810px
}
.home .mainvisual_wrap {
  height: calc(100% - 63px);
  background-image: url("img/mv/mv1.jpg")
}
.mv_logo_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -245px;
  padding: 30px 45px 18px;
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center
}
.lead {
  padding: 10px 0 90px;
  text-align: center
}
.lead_txt {
  margin-bottom: 35px;
  color: #000;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 62px
}
.two_link_wrap {
  display: table;
  margin-bottom: 110px;
  width: 100%
}
.two_link {
  position: relative;
  display: table-cell;
  width: 50%;
  vertical-align: middle
}
.two_link:link, .two_link:visited {
  color: #fff
}
.two_link:hover, .two_link:active {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}
.two_link_img {
  width: 100%;
  height: auto
}
.two_link_img:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.two_link_link {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 18px 42px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 26px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}
.works_wrap {
  margin-bottom: 115px;
  text-align: center
}
.works_title {
  margin-bottom: 26px;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 36px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 1.2
}
.works_slider_wrap {
  margin-bottom: 36px
}
.parallax_wrap {
  width: 100%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center
}
.zeh_wrap {
  padding: 53px 0;
  background-image: url("img/home/bg-zeh.jpg")
}
.zeh_box {
  display: inline-block;
  padding: 35px 70px;
  background-color: rgba(42, 19, 0, 0.73);
  color: #fff
}
.zeh_title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 20px
}
.feed-list-wrap .entry_header {
  color: #423021
}
.feed-list-wrap .show_all_entries:link, .feed-list-wrap .show_all_entries:visited {
  color: inherit
}
.feed-list-wrap .show_all_entries:hover, .feed-list-wrap .show_all_entries:active {
  color: #f8af37
}
.page-creator .main_content {
  padding-bottom: 120px;
  background: url("img/creator/bg_tsukurite.jpg") no-repeat left bottom
}
.ph_creator {
  margin-bottom: 25px
}
.title_creator {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 24px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif
}
.crator_name {
  margin: 40px 0 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.1em
}
.creator_kana {
  display: block;
  font-weight: normal;
  font-size: 12px
}
.creator_katagaki {
  margin-bottom: 15px;
  font-size: 14px
}
.creator_ext_box {
  margin: 0 auto;
  margin-bottom: 145px;
  padding: 20px 25px;
  width: 500px;
  border: 1px solid #999;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 14px
}
.creator_ext_box p:last-child {
  margin-bottom: 0
}
.creator_txt {
  font-weight: bold;
  font-size: 18px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif
}
.content_wrap_modelhouse {
  margin: 0 auto;
  width: 810px
}
.box_modelhouse_gaiyo {
  margin: 15px 0;
  padding: 10px 20px
}
.modelhouse_gaiyo_title {
  font-weight: bold;
  font-size: 14px
}
.box_modelhouse_gaiyo .inline_list1 {
  font-size: 12px
}
.modelhouse_address {
  font-size: 12px
}
.content_wrap_modelhouse .floatimg {
  width: 40%
}
#modelhouse_tour_wrap {
  margin-top: 100px;
  padding: 35px 0 50px;
  background-color: #423021
}
.modelhouse_tour_title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 34px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif
}
.modelhouse_toure_box {
  display: inline-block;
  padding: 30px 80px;
  border: 1px solid #fff;
  color: #fff
}
.modelhouse_toure_box_title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px
}
.modelhouse_toure_box p:last-child {
  margin: 24px 0 0
}
.tokucho_title {
  margin-bottom: 15px
}
.tokucho_num {
  color: #fff1da;
  font-style: italic;
  font-size: 100px;
  font-family: 'Times New Roman';
  line-height: 45px
}
.tokucho_title_title {
  font-weight: bold;
  font-size: 24px
}
.page-aboutkizukurinoie .float_txt_txt {
  text-align: left
}
.tokucho_img {
  margin: 20px 0 80px
}
.tokucho_img:last-child {
  margin-bottom: 20px
}
.ph_wb {
  margin: 30px auto
}
.about_wb_wrap {
  text-align: left
}
.about_wb_title {
  margin-bottom: 35px;
  padding: 12px 0;
  border: 1px solid #333;
  font-weight: bold;
  font-size: 22px;
  text-align: center
}
.sub_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px
}
.sub_title:before {
  content: "■";
  margin: 3px;
  color: #F8AF37
}
.about_wb_wrap p {
  font-size: 14px;
  line-height: 24px
}
.about_wb_box {
  margin-top: 70px;
  text-align: center
}
.about_wb_box img {
  margin-bottom: 80px
}
.access_map {
  margin-bottom: 80px
}
.page-privacypolicy .content_wrap_700 {
  text-align: left
}
.sitemap_list {
  margin: 0 auto;
  padding: 0 0 100px;
  width: 500px;
  text-align: left
}
.sitemap_li {
  margin-bottom: 15px
}
.sitemap_li a:link, .sitemap_li a:visited {
  text-decoration: none
}
.sitemap_li a i {
  color: #423021
}
.form_fst-radio {
  position: relative;
  margin: 50px 0 30px;
  padding: 20px 0;
  width: 100%;
  background-color: #efefef
}
.mwform-radio-field {
  margin: 0 50px
}
.form_list {
  padding: 20px 20px 10px;
  border: 1px solid #333;
  list-style: none outside;
  text-align: left;
  font-size: 0
}
.form_list dt, .form_list dd {
  position: relative;
  display: inline-block;
  margin: 8px 0;
  vertical-align: middle;
  font-size: 16px
}
.form_list dt {
  padding-right: 15px;
  width: 200px;
  text-align: right
}
.form_list dd {
  width: 443px
}
.form_list dd input {
  margin: 5px 0;
  padding: 7px 10px;
  width: calc(100% - 20px);
  border: none;
  background-color: #efefef;
  font-size: 16px
}
.form_list dd textarea {
  width: 100%;
  height: 10em;
  border: none;
  background-color: #efefef
}
.required, .any {
  margin-left: 20px;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #fd7a9f;
  color: #fff;
  font-size: 12px
}
.any {
  background-color: #b9b9b9
}
.for_pp {
  margin: 30px 0 20px;
  font-size: 14px
}
.form_subject {
  margin: 25px 0
}
.form_subject input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 23px 70px;
  border: solid 2px #000 !important;
  border-style: none;
  border-radius: 2px;
  background-color: #fff !important;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 16px
}
.form_subject input:link, .form_subject input:visited {
  color: #000 !important;
  text-decoration: none;
  -webkit-transition: all .05s linear 0s;
  transition: all .05s linear 0s
}
.form_subject input:hover, .form_subject input:active {
  border: solid 2px #423021 !important;
  background-color: #423021 !important;
  color: #fff !important
}
.page-conform .num_list {
  margin: 40px auto;
  padding: 5px 25px 0;
  width: 300px;
  border: 1px solid #ccc;
  text-align: left
}
.single .title_middle {
  margin-bottom: 25px
}
.archive_wrap {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 100%
}
.works_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  width: 920px;
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.works_list_li {
  position: relative;
  overflow: hidden;
  margin: 0 20px 20px 0;
  width: 205px;
  height: 154px
}
.works_list_img {
  width: 100%;
  height: 100%
}
.works_list_img img {
  width: auto;
  height: 100%
}
.works_list_link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}
.works_list_link:hover {
  background: rgba(23, 11, 0, 0.7)
}
.works_list_link:hover:after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid #fff;
  content: ''
}
.works_list_title {
  position: absolute;
  top: 50%;
  left: 20px;
  width: calc(100% - 40px);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 24px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: all .15s linear 0s;
  transition: all .15s linear 0s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.works_list_link:hover .works_list_title {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}
.home .works_list_li {
  position: relative;
  margin: 0;
  width: 326px;
  height: 217px
}
.home .works_list_img {
  width: 326px;
  height: 217px
}
.home .works_list_img img {
  width: 100%;
  height: 100%
}
.works_list_link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}
.works_list_link:hover {
  background: rgba(23, 11, 0, 0.7)
}
.works_list_link:hover:after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid #fff;
  content: ''
}
.works_detail {
  margin: 60px 0
}
.works_detail+p {
  display: none
}
.works_comment {
  margin-bottom: 40px;
  text-align: left
}
.works_data {
  padding: 7px;
  border: 1px solid #a8937e;
  text-align: left
}
.works_data_title {
  padding: 2px 10px;
  background-color: #ccbdae;
  color: #fff
}
.works_data_list {
  margin: 10px 10px 5px
}
.works_data_list li {
  margin: 5px 0
}
.works_data_list li:before {
  margin-right: 8px;
  color: #6a3906;
  content: '■'
}
@media (max-width: 768px) {
  html {
    font-size: 16px;
    line-height: 1.6em
  }
  p {
    margin-bottom: 1em
  }
  a {
    -webkit-transition: none;
    transition: none
  }
  a:link, a:visited, a:hover, a:active {
    color: #6a3906;
    text-decoration: underline
  }
  a img {
    -webkit-transition: none;
    transition: none
  }
  a img:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  .another_link_area {
    margin: 30px auto;
    font-size: 16px
  }
  .tel_link {
    display: block
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto
  }
  .home header, header.fixed {
    border-bottom: none
  }
  .header_wrap {
    position: relative;
    padding: 0;
    min-width: 100%
  }
  .header_logo {
    display: none
  }
  .swt_gnavi {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 49px;
    height: 49px;
    background-color: #423021;
    vertical-align: middle;
    text-align: center;
    line-height: 1em;
    cursor: pointer
  }
  .swt_btn {
    position: relative;
    top: 8px;
    display: inline-block;
    margin: 0 auto;
    width: 29px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    line-height: 0
  }
  .swt_btn:before, .swt_btn:after {
    position: absolute;
    left: 0;
    display: block;
    width: 29px;
    height: 3px;
    background-color: #fff;
    content: ''
  }
  .swt_btn:before {
    top: -7px
  }
  .swt_btn:after {
    top: 7px
  }
  .swt_btn_txt {
    display: inline-block;
    margin: 17px auto 0;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    line-height: 1em;
    color: #fff
  }
  .shade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer
  }
  .menu-gnavi_sp-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1em
  }
  .menu-gnavi_sp-container {
    position: fixed;
    top: 0;
    left: -350px;
    z-index: 1;
    overflow: auto;
    max-width: 350px;
    width: 82%;
    height: 100%;
    background-color: #423021;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    text-align: left
  }
  .gnavi {
    margin: 0;
    padding: 10px 8px
  }
  .gnavi li {
    display: block;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    font-size: 14px;
    line-height: 1.6em
  }
  .gnavi li a {
    display: block;
    padding: 0 5px;
    line-height: 3.2em
  }
  .gnavi li a:before {
    margin-right: 5px;
    content: '\f138';
    font-family: "FontAwesome"
  }
  .gnavi li.current-menu-item a {
    border-bottom: none
  }
  .gnavi li a:link, .gnavi li a:visited {
    color: #fff
  }
  .gnavi li a:hover, .gnavi li a:active {
    border-bottom: none;
    color: #fff
  }
  .home .content_wrap .gnavi li a:link, .home .content_wrap .gnavi li a:visited {
    color: #fff
  }
  .home .content_wrap .gnavi li a:hover, .home .content_wrap .gnavi li a:active {
    border-bottom: none
  }
  .content_wrap {
    padding: 0px;
    width: auto
  }
  .main_content {
    padding: 0px 20px;
    min-height: 0;
    width: auto;
    text-align: left
  }
  .home .main_content {
    padding-left: 0;
    padding-right: 0
  }
  footer {
    padding: 30px 0 10px;
    width: auto
  }
  .footer-logo {
    margin-bottom: 15px;
    width: 38%
  }
  .footer-info {
    margin-bottom: 10px
  }
  .footer-add {
    font-size: 14px
  }
  .footer-tel {
    margin-bottom: 20px
  }
  .btn-instagram {
    margin-left: 20px;
    width: 46px;
  }
  .menu-fnavi-container {
    margin: 30px 0 10px
  }
  .menu-fnavi-container ul {
    margin: 0 auto;
    text-align: center
  }
  .menu-fnavi-container ul li {
    display: inline-block;
    padding: 0 13px;
    font-size: 14px;
    line-height: 1.2em
  }
  .menu-fnavi-container ul li a:link, .menu-fnavi-container ul li a:visited {
    color: #fff;
    text-decoration: none
  }
  .menu-fnavi-container ul li a:hover, .menu-fnavi-container ul li a:active {
    color: #F8AF37;
    text-decoration: underline
  }
  .menu-fnavi-container ul li, .menu-fnavi-container ul li a {
    display: block;
    text-align: left
  }
  .menu-fnavi-container ul li {
    padding: 0;
    margin: 0 0 1px
  }
  .menu-fnavi-container ul li a {
    padding: 25px 20px;
    font-size: 16px;
    position: relative
  }
  .menu-fnavi-container ul li a:link, .menu-fnavi-container ul li a:visited {
    background: rgba(66, 48, 33, 0.7)
  }
  .menu-fnavi-container ul li a:hover, .menu-fnavi-container ul li a:active {
    background: #423021;
    text-decoration: none
  }
  .menu-fnavi-container ul li a:after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    font-size: 20px;
    right: 20px;
    color: #fff
  }
  .footer-copyright {
    font-size: 12px
  }
  .title_page {
    font-size: 28px;
    line-height: 1.3em
  }
  .title_middle_wrap {
    margin: 20px 0 10px;
    width: auto
  }
  .title_middle_wrap:first-child {
    margin-top: 20px
  }
  .title_middle {
    display: block;
    padding-bottom: 12px;
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    text-align: center
  }
  .title_middle:before, .title_middle:after {
    width: 100%
  }
  .title_middle:after {
    width: 50%
  }
  .title_small {
    margin: 20px 0 10px;
    font-size: 20px;
    text-align: center
  }
  .btn-base {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px 30px 16px 20px;
    min-width: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 18px
  }
  .float_box {
    width: auto;
    margin: 10px 0
  }
  .float_box_left {
    text-align: left
  }
  .float_box_right {
    text-align: left
  }
  .floatimg {
    display: inline-block;
    width: 80%;
    max-width: 600px;
    vertical-align: top
  }
  .floatimg_img {
    width: 100%;
    height: auto
  }
  .float_txt {
    display: block;
    width: 100%;
    vertical-align: top;
    text-align: left
  }
  .float_box_left .float_txt {
    padding-left: 0
  }
  .float_box_right .float_txt {
    padding-right: 0
  }
  .float_txt_title {
    font-size: 18px
  }
  .float_txt_txt {
    font-size: 16px
  }
  .num_list_txt {
    font-size: 14px;
    padding: 5px 0 0
  }
  .line_table tr {
    border-bottom: none
  }
  .line_table th, .line_table td {
    padding: 4px 8px;
    display: block
  }
  .line_table th {
    width: 100%;
    padding-right: 0;
    background-color: #f5f5f5
  }
  .bg_table th, .bg_table td {
    padding: 4px 8px
  }
  .bg_table th {
    width: 30%;
    padding-right: 15px
  }
  .anchor_link_area {
    margin: 40px auto;
    font-size: 16px
  }
  .date {
    margin-bottom: 20px
  }
  .entry-slider-wrap {
    padding: 25px 0 40px;
    width: auto
  }
  .entry-slider {
    width: auto;
    background-color: #423021
  }
  .entry-slider-box {
    padding: 5px;
    margin: 0 auto;
    max-height: auto;
    width: 63%
  }
  .entry-slider-img {
    width: calc(55% - 5px)
  }
  .entry-slider-txt-box {
    width: 45%;
    font-size: 14px
  }
  .entry-slider-date {
    margin-bottom: 0;
    font-size: 10px
  }
  .entry-slider-title {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.2em
  }
  .entry-slider-txt {
    display: none
  }
  .slick-prev, .slick-next {
    padding: 0;
    width: auto;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .slick-prev:after, .slick-next:after {
    font-size: 52px
  }
  .slick-prev {
    left: 18px
  }
  .slick-next {
    right: 18px
  }
  .entry_header {
    margin: 0 auto 20px;
    padding: 0 15px;
    width: auto;
    font-size: 16px
  }
  .show_all_entries {
    position: absolute;
    right: 15px;
    font-size: 14px
  }
  .entry_list_wrap {
    margin: 30px auto;
    padding: 10px 0 5px
  }
  .wp-pagenavi {
    margin-bottom: 30px
  }
  .entry_list_wrap+.wp-pagenavi {
    margin: 0 0 40px
  }
  .entry_list {
    margin: 0 5px;
    width: auto;
    font-size: 0
  }
  .entry_list_li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px;
    width: calc(50% - 10px)
  }
  .entry_list_box {
    max-height: none;
    padding: 0
  }
  .entry_list_img {
    float: none;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    margin-bottom: 5px
  }
  .entry_list_img img {
    height: auto;
  }
  .entry_list_txt_box {
    float: none;
    width: auto;
    padding: 0 5px;
    vertical-align: bottom;
    font-size: 16px
  }
  .entry_list_date {
    margin-bottom: 3px;
    font-family: Roboto;
    font-size: 14px
  }
  .entry_list_title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px
  }
  .entry_list_txt {
    color: #666;
    line-height: 1.4
  }

  /* 20220121 home のみ変更 */
  .home .entry_list {
    width: auto;
  }
  .home .entry_list_li {
    display: block;
    margin: 0 0 10px;
    width: auto;
  }
  .home .entry_list_box {
    padding: 10px 10px 0;
    margin-bottom: 0;
  }
  .home .entry_list_img {
    float: left;
    width: calc(40% - 12px);
    height: 100%;
    vertical-align: top;
  }
  .home .entry_list_txt_box {
    padding: 0;
    float: right;
    width: 60%;
    vertical-align: top;
    font-size: 13px
  }


  .wp-pagenavi {
    margin: 0 auto 20px
  }
  .wp-pagenavi span, .wp-pagenavi a {
    margin: 0 5px 5px !important;
    padding: 5px 14px !important;
    line-height: 2em
  }
  .wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink {
    padding: 8px 5px !important;
    border-color: #fff !important
  }
  .pagenation {
    margin: 40px auto 0;
    padding-top: 30px
  }
  .mce h1, .mce h2, .mce h3, .mce h4, .mce h5, .mce h6 {
    margin-bottom: 15px;
    color: #000;
    font-weight: bold;
    line-height: 1.4em
  }
  .mce h1 {
    font-size: 200%
  }
  .mce h2 {
    font-size: 150%
  }
  .mce h3 {
    font-size: 130%
  }
  .mce h4 {
    font-size: 115%
  }
  .mce h5 {
    font-size: 115%
  }
  .mce h6 {
    font-size: 100%
  }
  .mce p, .mce div {
    margin: 0 0 .5em
  }
  .mce p:last-child, .mce div:last-child {
    margin: 0
  }
  .mce img {
    margin: .5em 0;
    width: 100%;
    height: auto
  }
  .mce .alignnone {
    margin: .5em 0
  }
  .mce .aligncenter {
    float: none;
    margin: 0 auto .5em;
    text-align: center
  }
  .mce .alignleft {
    float: left;
    margin: 0 .5em .5em 0
  }
  .mce .alignright {
    float: right;
    margin: 0 0 .5em .5em
  }
  .mce .alignnone:after, .mce .aligncenter:after, .mce .alignleft:after, .mce .alignright:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.'
  }
  .mce .alignnone, .mce .aligncenter, .mce .alignleft, .mce .alignright {
    min-height: 1px
  }
  * html .mce .alignnone, * html .mce .aligncenter, * html .mce .alignleft, * html .mce .alignright {
    height: 1px
  }
  .mce ul, .mce ol {
    margin: .5em 0;
    padding: 0;
    padding-left: 1.6em
  }
  .mce ul {
    list-style: disc outside
  }
  .mce ol {
    list-style: decimal outside
  }
  .mce ul li, .mce ol li {
    margin-bottom: .5em
  }
  .mce dl {
    margin: .5em 0
  }
  .mce dl dt {
    margin-bottom: .5em
  }
  .mce dl dd {
    margin-bottom: .5em
  }
  .mce ul ul, .mce ul ol, .mce ul dl, .mce ol ol, .mce ol ul, .mce ol dl, .mce dl dl, .mce dl ul, .mce dl ol {
    margin: .5em 1em
  }
  .mce table {
    margin: .5em 0;
    width: 100%
  }
  .mce th, .mce td {
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    background: #f6f6f6;
    line-height: 1.3em
  }
  .mce td {
    background: #fdfdfd
  }
  .mce table p, .mce table ul, .mce table ol {
    margin-bottom: 0
  }
  .mce iframe {
    margin: .5em auto;
    max-width: 100%
  }
  .mce strong {
    font-weight: bold
  }
  .mce em {
    font-weight: normal;
    font-style: italic
  }
  .mce pre {
    margin: .5em 0;
    padding: .5em 1em;
    background: #ededed;
    white-space: pre-wrap
  }
  .mce hr {
    border: 1px solid #ccc
  }
  .mce blockquote {
    padding: .5em 1em;
    color: #555;
    font-style: italic
  }
  .mce blockquote cite:before {
    margin: 0 .5em;
    color: #999;
    content: '─'
  }

  .feed-list-wrap {
    padding: 25px 10px 5px
  }
  .feed-list {
    width: auto;
    margin: 0 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .feed-list-block {
    width: calc(50% - 5px);
    text-align: center;
    margin-bottom: 10px
  }
  .feed-list-block:nth-of-type(n+3) {
    display: none;
  }
  .feed-list-item {
    position: relative;
    display: block;
    padding: 0
  }
  .feed-list-img-wrap {
    overflow: hidden;
    margin-bottom: 2px;
    width: 100%;
    height: 90px;
    overflow: hidden
  }
  .feed-list-img {
    width: 100%;
    height: auto;
    vertical-align: top
  }
  .feed-list-img:hover, .feed-list-img:active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  .feed-list-date {
    margin-bottom: 0px;
    font-size: 12px
  }
  .feed-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    padding: 0 5px 5px
  }
  .mainvisual_wrap {
    min-height: 150px;
    height: 150px
  }
  .content_wrap_800, .content_wrap_700, .content_wrap_550 {
    margin: 0 auto 40px;
    width: auto
  }
  .thumb_slider_wrap {
    width: 100%
  }
  .home .mainvisual_wrap {
    height: 70%
  }
  .mv_logo_wrap {
    position: relative;
    top: 50%;
    left: 0;
    margin: 0 auto;
    padding: 20px 0 10px;
    max-width: 470px;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .mv_logo_wrap img {
    width: 80%;
    height: auto
  }
  .lead {
    padding: 20px 10px 30px
  }
  .lead_txt {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 34px
  }
  .two_link_wrap {
    display: block;
    margin-bottom: 40px;
    padding: 15px 10px 1px;
    width: auto;
    background-color: #423021
  }
  .two_link {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    line-height: 1
  }
  .two_link:link, .two_link:visited {
    color: #fff
  }
  .two_link:hover, .two_link:active {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  }
  .two_link_link {
    padding: 13px 20px;
    font-weight: bold;
    font-size: 17px;
    line-height: 1
  }
  .works_wrap {
    margin-bottom: 40px
  }
  .works_title {
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 22px
  }
  .works_slider_wrap {
    margin-bottom: 25px
  }
  .parallax_wrap {
    width: auto;
    background-attachment: scroll;
    background-position: 50% 50%
  }
  .zeh_wrap {
    margin-bottom: 40px;
    padding: 20px 0
  }
  .zeh_box {
    display: inline-block;
    padding: 30px 30px;
    background-color: rgba(42, 19, 0, 0.5)
  }
  .zeh_title {
    margin-bottom: 5px;
    font-size: 16px
  }
  .zeh_txt {
    margin-bottom: 15px;
    line-height: 1.5em
  }
  .zeh_wrap .btn-base {
    margin: 0 20px;
    padding: 10px 30px 10px 15px;
    font-size: 12px
  }
  .page-creator .main_content {
    padding-bottom: 20px;
    background: none
  }
  .creater_wrap {
    margin-bottom: 30px
  }
  .ph_creator {
    margin: 20px auto 15px;
    width: 100%;
    height: auto
  }
  .title_creator {
    margin-bottom: 12px;
    text-align: center;
    font-size: 22px
  }
  .crator_name {
    margin: 25px 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1em
  }
  .creator_katagaki {
    text-align: center
  }
  .creator_ext_box {
    margin: 0 auto;
    padding: 15px 20px;
    width: auto;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left
  }
  .creator_ext_box p {
    margin-bottom: .5em;
    font-size: 12px;
    line-height: 1.5em
  }
  .creator_txt {
    font-size: 18px;
    line-height: 1.5em
  }
  .content_wrap_modelhouse {
    width: 100%;
    height: auto
  }
  .fotorama__img {
    width: 100% !important
  }
  .modelhouse_tour_title {
    margin: 0 10px 15px;
    text-align: center;
    font-size: 16px
  }
  #modelhouse_tour_wrap {
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 15px 0 20px;
    background-color: #423021
  }
  .modelhouse_toure_box {
    margin: 0 15px;
    padding: 15px 10px
  }
  .modelhouse_toure_box_title {
    margin-bottom: 5px;
    padding: 0 5px;
    text-align: center;
    font-size: 20px
  }
  .modelhouse_toure_box p:last-child {
    margin: 15px 0 0
  }
  .tokucho_title {
    margin: 20px 0 15px;
    text-align: center
  }
  .tokucho_num {
    margin-right: 8px;
    color: #fff1da;
    font-size: 60px;
    line-height: 32px
  }
  .tokucho_title_title {
    font-size: 22px
  }
  .content_aboutme p {
    font-size: 14px
  }
  .page-aboutkizukurinoie .float_txt_txt {
    text-align: left
  }
  .page-aboutkizukurinoie .floatimg {
    margin: 0 auto;
    width: 100%;
    text-align: center
  }
  .tokucho_img {
    margin: 0 0 40px;
    width: 100%
  }
  .tokucho_img:last-child {
    margin-bottom: 20px
  }
  .ph_wb {
    margin: 20px auto;
    width: 100%;
    height: auto
  }
  .about_wb_wrap {
    text-align: left
  }
  .about_wb_title {
    font-size: 20px
  }
  .sub_title {
    font-size: 16px
  }
  .about_wb_wrap p {
    font-size: 12px;
    line-height: 20px
  }
  .about_wb_box {
    margin-top: 70px;
    text-align: center
  }
  .about_wb_box img {
    width: 100%;
    height: auto;
    margin-bottom: 50px
  }
  .page-company p br {
    display: block
  }
  .access_map {
    margin-bottom: 40px;
    text-align: center
  }
  .access_map iframe {
    width: 80%;
    height: 220px
  }
  .sitemap_list {
    margin: 30px auto;
    padding: 0;
    width: auto
  }
  .sitemap_li {
    margin-bottom: 15px
  }
  .sitemap_li a {
    font-size: 16px
  }
  .sitemap_li a:link, .sitemap_li a:visited {
    text-decoration: none
  }
  .sitemap_li a i {
    color: #423021
  }
  .form_fst-radio {
    margin: 50px 0 15px;
    padding: 10px 0;
    text-align: left
  }
  .mwform-radio-field {
    display: block;
    margin: 0 !important;
    padding: 5px 25px
  }
  .form_list {
    padding: 20px 10px 10px;
    border: 1px solid #333;
    list-style: none outside;
    text-align: left;
    font-size: 0
  }
  .form_list dt, .form_list dd {
    position: relative;
    display: block;
    margin: 0;
    vertical-align: middle;
    font-size: 16px
  }
  .form_list dt {
    padding-right: 0;
    width: 100%;
    text-align: left
  }
  .form_list dd {
    width: 100%
  }
  .form_list dd input {
    margin: 0 0 10px;
    padding: 7px 10px;
    width: calc(100% - 20px);
    border: none;
    background-color: #efefef;
    font-size: 16px
  }
  .form_list dd textarea {
    width: 100%;
    height: 10em;
    border: none;
    background-color: #efefef
  }
  .required, .any {
    margin-left: 10px
  }
  .for_pp {
    margin: 30px 0 20px;
    font-size: 16px
  }
  .form_subject {
    margin: 25px 0 60px;
    text-align: center
  }
  .page-conform .num_list {
    margin: 30px auto 40px;
    padding: 0;
    width: 100%;
    border: none;
    text-align: left
  }
  .num_list br {
    display: block
  }
  .archive_wrap {
    margin: 30px auto 0;
    padding-bottom: 20px;
    width: 100%
  }
  .works_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    padding-left: 5px;
    width: 100%;
    font-size: 0;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .works_list_li {
    position: relative;
    margin: 0 15px 15px 0;
    width: calc(50% - 15px)
  }
  .works_list_link {
    background: rgba(23, 11, 0, 0.4)
  }
  .works_list_link:after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 1px solid #fff;
    content: ''
  }
  .works_list_title {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
  }
  .home .works_list_li {
    position: relative;
    margin: 0;
    width: 180px;
    height: 120px
  }
  .home .works_list_img {
    width: 180px;
    height: 120px
  }
  .home .works_list_img img {
    width: 100%;
    height: 100%
  }
  .works_detail {
    margin: 30px 0
  }
  .works_comment {
    margin-bottom: 30px
  }
  .works_data_list {
    margin: 5px 2px 2px
  }
}